mixin mainStyles
	link(
		rel="stylesheet"
		href="css/main.css"
		type="text/css"
		)
	link(
		rel="stylesheet"
		href="http://fonts.googleapis.com/css?family=Montserrat:400,700"
		type="text/css"
		)

mixin mainScripts
	script(
		src="https://code.jquery.com/jquery-2.1.4.min.js"
		type="text/javascript"
		)
	script(
		src="js/main.js"
		type="text/javascript"
		)

mixin controls(gender)
	.controls
		button.skin.icon.active
		button.hair.icon
		button.eyes.icon
		button.nose.icon
		button.mouth.icon
		hr
	.ageControls
		button(class=gender).icon.child
		button(class=gender).icon.teen
		button(class=gender).icon.old